@page
@model IndexModel
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
@{
	ViewData["Title"] = "Home page";
#if LITTLEQUOKKA || ELTERN || INES || ANDREA
	string[] months = new string[] { "Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember" };
	string[] days = new string[] { "Mo", "Di", "Mi", "Do", "Fr", "Sa", "So" };
#endif
#if ANNA || PARENTS
	string[] months = new string[] { "Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень" };
	string[] days = new string[] { "Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Нд" };
#endif
#if VERA
	string[] months = new string[] { "Eanáir", "Feabhra", "Márta", "Aibreán", "Bealtaine", "Meitheamh", "Iúil", "Lúnasa", "Meán Fómhair", "Deireadh Fomhair", "Samhain", "Nollaig" };
	string[] days = new string[] { "Lua", "Mái", "Céa", "Déa", "Aoi", "Sat", "Dom" };
#endif
#if SVETA
	string[] months = new string[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
	string[] days = new string[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" };
#endif
	string[] images = new string[] { "../images/title.jpeg",//
		"../images/january.jpeg",
		"../images/february.jpeg",
		"https://drscdn.500px.org/photo/213779887/q%3D80_m%3D1500/v2?sig=5a237e4f1778218c706345ab4762dcc4c3f651786f0133373f670ee7e8f04c74",//
		"../images/april.jpeg",
		"https://drscdn.500px.org/photo/166602541/q%3D80_m%3D1500/v2?sig=1cfb6eb669e310ddc706776283e46c460c0aeb0ee9be7e64b5a8f7caf5e25a50",//
		"../images/june.jpeg",
		"../images/july.jpeg",
		"../images/august.jpeg",
		"../images/september.jpeg",
		"../images/october.jpeg",//
		"../images/november.jpeg",
		"https://drscdn.500px.org/photo/151707583/q%3D80_h%3D600/v2?sig=8bdf9dc25c978138f3bb318e772be1a550788f7635a89cc97468907e237fc0c3"//
		};
	string getMonthName(int i) => months[i == 0 ? 11 : (i == 13 ? 0 : (i - 1))];
	int getMonthGroup(int i) => i switch {
		int n when n < 2 || n > 11 => 0,
		_ => i / 3
	};
	string getOwner() =>
#if LITTLEQUOKKA
		"Little quokka";
#endif
#if ELTERN
		"Eltern";
#endif
#if INES
		"Ines";
#endif
#if ANDREA
		"Andrea";
#endif
#if ANNA
		"Anna";
#endif
#if PARENTS
		"Parents";
#endif
#if SVETA
		"Sveta";
#endif
#if VERA
		"Vera";
#endif
}
<div class="title">
	<img src="@images[0]" alt="" style="height: 420mm;" />
	<div>LITTLE<br />QUOKKA'S</div>
	<div>CALENDAR @(DateTime.Today.Year + 1)</div>
	<div>@getOwner()</div>
</div>
@for (int i = 1; i <= 12; i++)
{
	<img src="@images[i]" alt="" />
	<div class="page">
		<div class="secondaryDiv">
			@{await Html.RenderPartialAsync("SecondaryMonth", null, new ViewDataDictionary(ViewData) { { "days", days }, { "monthName", getMonthName(i - 1) }, { "monthGroup", getMonthGroup(i - 1) }, { "Model", Model.monthsArrays[i - 1] } });}
			@{await Html.RenderPartialAsync("SecondaryMonth", null, new ViewDataDictionary(ViewData) { { "days", days }, { "monthName", getMonthName(i + 1) }, { "monthGroup", getMonthGroup(i + 1) }, { "Model", Model.monthsArrays[i + 1] } });}
		</div>
		<div class="primaryDiv">
			<span style="color:@(getMonthGroup(i) switch {
							   0 => "dodgerBlue",
							   1 => "limeGreen",
							   2 => "gold",
							   _ => "darkOrange"
						   })">@getMonthName(i)</span>
			<table>
				<thead>
					<tr>
						@foreach (string item in days)
						{
							<th>@item</th>
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.monthsArrays[i])
					{
						<tr>
							@for (int j = 0; j < 7; j++)
							{
								if (item[j].IsCurrent)
								{
									<td>
										<div>
											<div>
												@item[j].Date
											</div>
											<div>
												@foreach (var item1 in item[j].SpecialDays)
												{
													<div>
														<img src="../icons/@(item1.Occasion).svg" alt="" />
														<span>@item1.Text</span>
													</div>
												}
											</div>
										</div>
									</td>
								}
								else
								{
									<td>
									</td>
								}
							}
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}